.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: row;
  gap: 10px;
  &__input{
    display: flex;
    border-radius: 12px;
    padding-left: 10px;
  }
  &__select{
    display: flex;
    padding: 4px;
    width: 80px;
    height: 26px;
    border-radius: 12px;
    background: #b8adad;
  }
  &__button{
    width: 100px;
    height: 26px;
    border-radius: 15px;
  }
}
